* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

#App {
    width: 100vw;
    height: 100vh;
    background: rgb(0,149,136);
    background: linear-gradient(180deg, rgb(0, 149, 136) 15%, rgb(220,219,211) 10%);
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    height: 95%;
    margin: auto;
    background-color: brown;

}

aside {
    width: 35%;
    height: 100%;
    background-color: pink;
}

main {
    width: 65%;
    height: 100%;
    background-color: violet;
    border: 1px black;
}


                        /* MAIN */

                /* chat header */

.chatHeader {
    background-color: lightblue;
    height: 100px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.chatHeader-sx {
    height: 100%;
    align-items: center;
}

.chatHeader img {
    height: 80%;
    border-radius: 50%;
}

.openChatInfo {
    margin-left: 10px;
}

.openChatInfo h4 {
    margin-bottom: 5px;
}

.chatHeader-dx i {
    font-size: 25px;
    margin: 0 10px;
}